<article id="app">
  <nz-layout id="components-layout-demo-custom-trigger">
    <nz-sider nzCollapsible [(nzCollapsed)]="collapsed" [nzTrigger]="null">
      <div class="logo">
        <img src="assets/image/logo_small.png">
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="collapsed" (nzClick)="handleMenuClick($event)">
        <li nz-menu-item [attr.key]="'home'">
          <span title>
            <i nz-icon type="bar-chart"></i><span>Twitter every day</span>
          </span>
        </li>
        <li nz-menu-item [attr.key]="'emotion'">
          <span title>
            <i nz-icon type="frown"></i><span>Emotion</span>
          </span>
        </li>
        <li nz-menu-item [attr.key]="'XXXX'">
          <span title>
            <i nz-icon type="pie-chart"></i><span>XXXX</span>
          </span>
        </li>
      </ul>
    </nz-sider>
    <nz-layout>
      <nz-header style="background: #fff; padding:0;">
        <i class="trigger" nz-icon [type]="isCollapsed?'menu-unfold':'menu-fold'" (click)="collapsed=!collapsed"></i>
      </nz-header>
      <nz-content style="margin:16px;padding:4px;min-height:280px;">
        <router-outlet></router-outlet>
      </nz-content>
    </nz-layout>
  </nz-layout>
</article>
